@model  AspNetFrameworkMVC.Models.Kullanici
@{
    ViewBag.Title = "Kullanici";
}

<h2>Kullanici</h2>

<table class="table table-hover">
    <tr>
        <td>Ad</td>
        <td>@Model.Ad</td>
    </tr>
    <tr>
        <td>Soyad</td>
        <td>@Model.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı</td>
        <td>@Model.KullaniciAdi</td>
    </tr>
    <tr>
        <td>Şifre</td>
        <td>@Model.Sifre</td>
    </tr>
</table>

<hr />

<h3>Model İçerisinden Gelen Verileri Düzenleme</h3>

<form action="/ModelBinding/Kullanici" method="post">
    <table class="table table-hover">
        <tr>
            <td>Ad</td>
            <td>
                @Html.TextBoxFor(model => model.Ad)
            </td>
        </tr>
        <tr>
            <td>Soyad</td>
            <td> @Html.TextBoxFor(model => model.Soyad)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.TextBoxFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>Kullanıcı Adı</td>
            <td>@Html.TextBoxFor(model => model.KullaniciAdi)</td>
        </tr>
        <tr>
            <td>Şifre</td>
            <td>@Html.TextBoxFor(model => model.Sifre)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="Submit1" type="submit" value="Kaydet" />
            </td>
        </tr>
    </table>
</form>